[data-ember-action] {
  cursor: pointer;
}

table {
  width: 80%;
  margin: 0 auto;
}

.truncated-content button {
  font-size: 8pt;
  border: none;
}

.post-form {
  margin: 0 auto;
}
.post-form input, .post-form textarea {
  width: 300px;
}

.error, .remaining-chars {
  font-size: 14px;
  width: 300px;
  text-align: right;
}
.error {
  color: red;
}

form > div {
  margin-bottom: 15px;
}

form label {
  display: block;
}
