[data-ember-action] {
  cursor: pointer;
}

table {
  width: 80%;
  margin: 0 auto;
}

.truncated-content button {
  font-size: 8pt;
  border: none;
}

.post-form {
  margin: 0 auto;
}
.post-form input, .post-form textarea {
  width: 300px;
  margin-bottom: 15px;
}
