<h3>{{post.title}}</h3>
<div class="text-muted">{{moment-from-now post.createdAt}}</div>
{{truncate-with-expand length=300 content=post.body}}

<p>
  {{#link-to 'posts.show' post}}Show{{/link-to}}
  |
  {{#link-to 'posts.edit' post}}Edit{{/link-to}}
  |
  <a class="btn-link" {{action 'destroy' post}}>Destroy</a>
</p>
