{{#each orderedComments as |comment|}}
  <div class="col-md-2">
    <span class="text-muted">{{moment-from-now commment.createdAt}}</span>
  </div>
  <div class="col-md-10">
    <p>{{comment.body}}</p>
  </div>
{{/each}}
