<form {{action 'submit' on='submit'}}>
  <div>
    {{input value=title required='true' maxlength=titleMaxLength type='text' placeholder='Post title'}}
  </div>

  <div>
    {{textarea value=body required='true' maxlength=bodyMaxLength placeholder='Post body'}}
  </div>

  <div>
    <button {{action 'submit' on='submit'}}>Create Post</button>
  </div>
</form>
