<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    {{#each posts as |post|}}
      {{blog-post-row post=post}}
    {{/each}}
  </tbody>
</table>

<br/>

{{new-post-form}}
