<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    {{#each posts as |post|}}
      <tr>
        <td>{{post.title}}</td>
        <td>{{post.body}}</td>
        <td>{{#link-to 'posts.show' post}}Show{{/link-to}}</td>
        <td>Edit link</td>
        <td>Destroy link</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<br/>

New post link
