<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      {{#link-to 'index' class='navbar-brand'}}Ember blog{{/link-to}}
    </div>

    <ul class="nav navbar-nav pull-right">
      <li>
        <p class="navbar-btn">
          {{#if auth.isSignedIn}}
            Signed in as {{auth.login}}
            <button {{action 'signOut'}} class="btn btn-default">Sign out</button>
          {{else}}
            {{#link-to 'sign-in' class='btn btn-default'}}Sign in{{/link-to}}
          {{/if}}
        </p>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
