<div class="row">
  <div class="col-md-8">
    {{posts-list posts=posts}}
  </div>

  <div class="col-md-3 col-md-offset-1 well">
    {{new-post-form post=newPost action='createPost'}}
  </div>
</div>

