<div class="row">
  <div class="col-md-8">
    {{posts-list posts=posts destroyPost='destroyPost'}}
  </div>

  {{#if session.isSignedIn}}
    <div class="col-md-3 col-md-offset-1 well">
      {{#if isNewPostFormShown}}
        {{post-form post=newPost action='createPost' cancel='toggleNewPostForm' submitLabel='Create post'}}
      {{else}}
        <button class="btn btn-primary" {{action 'toggleNewPostForm'}}>New post</button>
      {{/if}}
    </div>
  {{/if}}
</div>

