<div class="row">
  <div class="col-md-6 col-md-offset-1">
    {{#each posts as |post|}}
      {{blog-post tagName='tr' post=post}}
    {{/each}}
  </div>

  <div class="col-md-4 well">
    {{new-post-form post=newPost action='createPost'}}
  </div>
</div>

